doctype html
html(lang='en')
  head
    //Global site tag (gtag.js) - Google Analytics
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-108253018-1")
    script(type="text/javascript").
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-108253018-1');
    title Fiintech - A Malaysia Fintech Blog
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Fiintech provides updated insights about the fintech industry in Malaysia. Read about fintech trends that are currently conversations in the air now')
    meta(name='keywords', content='fintech, fiintech, fiintech.com, financial technology, fintech hub, fintech industy, financial tech')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Quicksand|Lato|Muli|Merriweather:300,400')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/owl-carousel-min.css')
    link(rel='stylesheet', href='/stylesheets/style-uncompressed.css')
    link(rel='icon' href='favicon.ico' type='image/x-icon')
  body(data-spy='scroll')
    .container
      #loader-wrapper
        #loader
          svg.svg-animation(xmlns="http://www.w3.org/2000/svg" width="6.8in" height="8.8in" viewBox="0 0 612 792")
            path.svg-animation-path#Selection(fill="none" stroke="white" stroke-width="1" d="M 159.00,85.17\
               C 159.00,85.17 167.17,78.59 167.17,78.59\
                 167.17,78.59 174.00,78.00 174.00,78.00\
                 174.00,78.00 232.00,78.00 232.00,78.00\
                 232.00,78.00 445.00,78.00 445.00,78.00\
                 445.00,78.00 419.00,105.00 419.00,105.00\
                 419.00,105.00 372.00,152.00 372.00,152.00\
                 372.00,152.00 357.00,167.00 357.00,167.00\
                 357.00,167.00 348.00,174.40 348.00,174.40\
                 348.00,174.40 341.00,175.00 341.00,175.00\
                 341.00,175.00 149.00,175.00 149.00,175.00\
                 149.00,175.00 149.00,319.00 149.00,319.00\
                 149.00,319.00 124.00,319.00 124.00,319.00\
                 124.00,319.00 124.00,150.00 124.00,150.00\
                 124.00,150.00 323.00,150.00 323.00,150.00\
                 334.22,149.98 336.28,144.72 344.00,137.00\
                 344.00,137.00 378.00,103.00 378.00,103.00\
                 378.00,103.00 142.00,103.00 142.00,103.00\
                 142.00,103.00 159.00,85.17 159.00,85.17 Z\
               M 230.00,206.00\
               C 230.00,206.00 230.00,294.00 230.00,294.00\
                 230.00,294.00 444.00,294.00 444.00,294.00\
                 438.26,302.28 420.09,318.85 412.00,326.17\
                 412.00,326.17 398.00,339.96 398.00,339.96\
                 398.00,339.96 368.00,368.04 368.00,368.04\
                 363.22,372.61 348.16,388.51 343.00,390.40\
                 341.05,391.12 338.10,391.00 336.00,391.00\
                 336.00,391.00 149.00,391.00 149.00,391.00\
                 149.00,391.00 149.00,492.00 149.00,492.00\
                 149.00,492.00 149.00,542.00 149.00,542.00\
                 149.00,542.00 189.17,501.58 189.17,501.58\
                 189.17,501.58 204.40,485.00 204.40,485.00\
                 204.40,485.00 205.00,478.00 205.00,478.00\
                 205.00,478.00 205.00,421.00 205.00,421.00\
                 210.71,425.07 216.99,431.04 222.00,436.00\
                 223.64,437.62 228.00,441.55 228.98,443.28\
                 230.13,445.31 229.98,447.75 230.00,450.00\
                 230.00,450.00 230.00,489.00 230.00,489.00\
                 230.00,491.09 230.12,494.06 229.40,496.00\
                 227.58,500.96 215.49,511.44 211.28,515.96\
                 208.88,518.55 205.94,520.59 205.00,524.00\
                 205.00,524.00 189.00,538.83 189.00,538.83\
                 189.00,538.83 167.00,559.96 167.00,559.96\
                 167.00,559.96 147.00,579.00 147.00,579.00\
                 147.00,579.00 124.00,601.00 124.00,601.00\
                 124.00,601.00 124.00,368.00 124.00,368.00\
                 124.00,368.00 216.00,368.00 216.00,368.00\
                 216.00,368.00 231.00,367.00 231.00,367.00\
                 231.00,367.00 322.00,367.00 322.00,367.00\
                 322.00,367.00 329.00,366.40 329.00,366.40\
                 329.00,366.40 346.00,352.00 346.00,352.00\
                 346.00,352.00 362.00,336.96 362.00,336.96\
                 362.00,336.96 381.00,319.00 381.00,319.00\
                 381.00,319.00 205.00,319.00 205.00,319.00\
                 205.00,319.00 205.00,206.00 205.00,206.00\
                 205.00,206.00 230.00,206.00 230.00,206.00 Z")
          img.svg-final-img(src="/images/logo3.svg")
        .loader-section.section-left
        .loader-section.section-right
      #content
        #newsletterModal.modal.fade.newsletter
          .newsletter-modal-dialog.newsletter.animated
            .newsletter-modal-content
              .newsletter-modal-header
                .row
                  a.close-button(type="button" data-dismiss="modal")
                    span.close-button-stroke
                    span.close-button-stroke
                  .newsletter-heading-group
                    h3.newsletter-heading Never&nbsp
                    h3.newsletter-heading.newsletter-orange-heading boring.
                  .newsletter-heading-group
                    h3.newsletter-heading Always&nbsp
                    h3.newsletter-heading.newsletter-orange-heading awesome.
                  h4.newsletter-subheading Get today's new stories delivered
                  h4.newsletter-subheading(style="margin-top: 0;") straight to your inbox.
                  .newsletter-error
                    i.fa.fa-times.newsletter-error-icon
                    h6.newsletter-error-message
              .modal-body
                .form.newsletterBox
                  form#newsletter(method='post', action='/', accept-charset='UTF-8')
                    input#newsletter-email.newsletter-email.form-control(type='email', placeholder='Email', name='email' data-toggle="popover" data-content="Example" data-placement="top")
                    input.newsletter-submit(type="submit", placeholder="Join")
                    input#newsletter-checkbox(type="checkbox" value="I dont mind" name="newsletter-checkbox" autocomplete="on")
                    label.newsletter-checkbox(for="newsletter-checkbox" autocomplete="on") Yes! Sign me up for Fiintech stories newsletter.
                  button.error(style="display: none;")
        section.home
          .owl-carousel
            .item.item1
              .carousel-caption
                .caption-heading
                  h1.caption-heading1 FIIN
                  h1.caption-heading2 TECH
                p.caption-subheading.caption-heading-first Writing about
                p.caption-subheading.last-words-of-heading &nbspFintech
                .scroll
                  .icon-scroll
                  h3.word-scroll Scroll
            .item.item2
              .carousel-caption
                .caption-heading
                  h1.caption-heading1 IT'S
                  h1.caption-heading2 &nbspMORE
                p.caption-subheading.caption-heading-first Than just a two-word
                p.caption-subheading.last-words-of-heading &nbspmash-up
                .scroll
                  .icon-scroll
                  h3.word-scroll Scroll
            .item.item3
              .carousel-caption
                .caption-heading
                  h1.caption-heading1 NEW
                  h1.caption-heading2 &nbspARTICLE
                p.caption-subheading.caption-heading-first Every
                p.caption-subheading.last-words-of-heading &nbspTuesday
                p.caption-subheading.caption-heading-first &nbsp&
                p.caption-subheading.last-words-of-heading &nbspThursday
                .scroll
                  .icon-scroll
                  h3.word-scroll Scroll
          #myCarousel.carousel.slide(data-interval='3500', data-ride='carousel')
            .row.navbar-row
              nav.navbar.navbar-default.navbar-transparent(role='navigation')
                .navbar-header
                  button#dropdown.navbar-toggle(type='button', data-toggle='collapse', data-target='#example-navbar-collapse')
                    span.sr-only Toggle navigation
                    span.icon-bar.icon-bar-top
                    span.icon-bar
                    span.icon-bar.icon-bar-bottom
                  a.page-scroll.navbar-logo(href='.home')
                    img.navbar-img.first-logo(src='/images/logo3.svg')
                    img.navbar-img.second-logo.display-logo(src='/images/logo.svg')
                #example-navbar-collapse.collapse.navbar-collapse(style='width : 100%;')
                  ul.nav.navbar-nav.navbar-right.main-nav
                    li
                      a.page-scroll(href='.home') Home
                    li
                      a.page-scroll.blog-hyperlink(href='.blog') Blog
                    li
                      a.page-scroll(href='/about') About
                    li
                      a.page-scroll(href='/contact') Contact
                    li.desktop-mode(style="padding-right: 0px;")
                      form.searchbox(action="/search" method="GET")
                        input.searchbox-input(type="search" placeholder="Search" name="term" onkeyup="buttonUp();" required)
                        input.searchbox-submit(type="submit" value="Go")
                        span.searchbox-icon
                          i.fa.fa-search.searchbox-search-icon(aria-hidden="true")
                    li.mobile-mode(style="padding-right: 0px;")
                      form.searchbox-mobile(action="/search" method="GET")
                        input.searchbox-input-mobile(type="search" placeholder="Search" name="search" onkeyup="buttonUp();" required)
                        a.searchbox-icon-mobile(href="#")
                          i.fa.fa-search.searchbox-search-icon-mobile(aria-hidden="true")
            // Indicators
            ol.carousel-indicators
              li(data-target='#myCarousel', data-slide-to='0')
                .progress
                  .progress-bar.first-bar(role='progressbar', style='width: 0%')
              li(data-target='#myCarousel', data-slide-to='1')
                .progress
                  .progress-bar.middle-bar(role='progressbar', style='width: 0%')
              li(data-target='#myCarousel', data-slide-to='2')
                .progress
                  .progress-bar.last-bar(role='progressbar', style='width: 0%')
            // Wrapper for slides
            .carousel-inner
              .item.item1.active
                .carousel-caption
                  .caption-heading
                    h1.caption-heading1 FIIN
                    h1.caption-heading2 TECH
                  p.caption-subheading.caption-heading-first Writing about
                  p.caption-subheading.last-words-of-heading &nbspFintech
                  .scroll
                    .icon-scroll
                    h3.word-scroll Scroll
              .item.item2
                .carousel-caption
                  .caption-heading
                    h1.caption-heading1 IT'S
                    h1.caption-heading2 &nbspMORE
                  p.caption-subheading.caption-heading-first Than just a two-word
                  p.caption-subheading.last-words-of-heading &nbspmash-up
                  .scroll
                    .icon-scroll
                    h3.word-scroll Scroll
              .item.item3
                .carousel-caption
                  .caption-heading
                    h1.caption-heading1 NEW
                    h1.caption-heading2 &nbspARTICLE
                  p.caption-subheading.caption-heading-first Every
                  p.caption-subheading.last-words-of-heading &nbspTuesday
                  p.caption-subheading.caption-heading-first &nbsp&
                  p.caption-subheading.last-words-of-heading &nbspThursday
                  .scroll
                    .icon-scroll
                    h3.word-scroll Scroll
        .row.color-transition
        .row.color-transition2
        section.blog
          a(href="/about")
            h2.about-prompt
              b DON'T KNOW
              |  anything about Fintech? Read about it
              b  HERE&nbsp
              i.fa.fa-caret-right.about-prompt-icon
          .featured
            // Featured Post
            h2.recent-post-heading.text-center Featured.
            ul.featured-container
              - for (var i = 0; i < 8; i++)
                  if (i == 0 || i == 7)
                    a.featured-item-link(href="/post/#{moment(posts[i].date).format('DDMMYYYY')}/#{(encodeURIComponent(posts[i].title)).replace(/%20/g, '-')}")
                      li.featured-item(style="background-image: url('/images/uploads/#{posts[i].mainimage}')")
                        .featured-item-content
                          .featured-tags-group
                            if Array.isArray(posts[i].tags)
                              each post_tag, j in posts[i].tags
                                each tag, k in tags
                                  if tag.name == post_tag
                                    h5.featured-tags(href='/search/#{tag.name}' style="background: #{tag.color}; border-color: #{tag.color}") #{tag.name}
                            else
                              each tag, j in tags
                                if tag.name == posts[i].tags
                                  h5.featured-tags(href='/search/#{tag.name}' style="background: #{tag.color}; border-color: #{tag.color}") #{posts[i].tags}
                          h2.featured-title.text-left #{posts[i].title}
                          .row(style="margin-top: 7px")
                            .col-xs-9
                              each author, i in authors
                                if (author.name === posts[i].author)
                                  .featured-author
                                    img.featured-author-img(src='/images/uploads/#{author.image}')
                                    .wording
                                      h6.featured-author-name &nbsp&nbsp#{posts[i].author}
                                      if parseInt(moment.duration(moment(new Date()).diff(posts[i].date)).asMinutes()) < 2
                                        h6.featured-time(style="font-size: 13px; margin: 3px 0 0 0;") &nbsp&nbsp&nbsp#{parseInt(moment.duration(moment(new Date()).diff(posts[i].date)).asMinutes())} minute ago
                                      else if parseInt(moment.duration(moment(new Date()).diff(posts[i].date)).asMinutes()) < 60
                                        h6.featured-time(style="font-size: 13px; margin: 3px 0 0 0;") &nbsp&nbsp&nbsp#{parseInt(moment.duration(moment(new Date()).diff(posts[i].date)).asMinutes())} minutes ago
                                      else if parseInt(moment.duration(moment(new Date()).diff(posts[i].date)).asMinutes()) > 60 && parseInt(moment.duration(moment(new Date()).diff(posts[i].date)).asMinutes()) < 120
                                        h6.featured-time(style="font-size: 13px; margin: 3px 0 0 0;") &nbsp&nbsp&nbsp#{parseInt(moment.duration(moment(new Date()).diff(posts[i].date)).asHours())} hour ago
                                      else if parseInt(moment.duration(moment(new Date()).diff(posts[i].date)).asHours()) < 24
                                        h6.featured-time(style="font-size: 13px; margin: 3px 0 0 0;") &nbsp&nbsp&nbsp#{parseInt(moment.duration(moment(new Date()).diff(posts[i].date)).asHours())} hours ago
                                      else if parseInt(moment.duration(moment(new Date()).diff(posts[i].date)).asDays()) < 2
                                        h6.featured-time(style="font-size: 13px; margin: 3px 0 0 0;") &nbsp&nbsp&nbsp#{parseInt(moment.duration(moment(new Date()).diff(posts[i].date)).asDays())} day ago
                                      else
                                        h6.featured-time(style="font-size: 13px; margin: 3px 0 0 0;") &nbsp&nbsp&nbsp#{moment(posts[i].date).format('DD MMM YYYY')}
                            .col-xs-3
                              .featured-likes
                                i.fa.fa-heart.featured-likes-icon.text-right
                                h4.featured-likes-number.text-right &nbsp#{posts[i].likes}
                  else
                    li.featured-card-item
                      .container
                        .featured-card-img
                          a.featured-card-link(href="/post/#{moment(posts[i].date).format('DDMMYYYY')}/#{(encodeURIComponent(posts[i].title)).replace(/%20/g, '-')}")
                            img(src="/images/uploads/#{posts[i].mainimage}" align="center")
                          .featured-card-likes
                            i.fa.fa-heart.featured-card-likes-icon.text-left
                            h4.featured-card-likes-number.text-left &nbsp#{posts[i].likes}
                        .featured-card-content
                          .row.featured-card-tags-row
                            .featured-card-tags-group
                              if Array.isArray(posts[i].tags)
                                each post_tag, j in posts[i].tags
                                  each tag, k in tags
                                    if tag.name == post_tag
                                      a.featured-card-tags(href='/search/#{tag.name}' style="background: #{tag.color}; border-color: #{tag.color}") #{tag.name}
                              else
                                each tag, j in tags
                                  if tag.name == posts[i].tags
                                    a.featured-card-tags(href='/search/#{posts[i].tags}' style="background: #{tag.color}; border-color: #{tag.color}") #{tag.name}
                          a.featured-card-link(href="/post/#{moment(posts[i].date).format('DDMMYYYY')}/#{(encodeURIComponent(posts[i].title)).replace(/%20/g, '-')}")
                            h2.text-left.featured-card-title #{posts[i].title}
                          .row
                            each author, j in authors
                              if (author.name === posts[i].author)
                                .featured-card-author
                                  img.featured-card-author-img(src='/images/uploads/#{author.image}')
                                  .featured-card-wording
                                    h6.featured-card-author-name &nbsp&nbsp#{posts[i].author}
                                    if parseInt(moment.duration(moment(new Date()).diff(posts[i].date)).asMinutes()) < 2
                                      h6.featured-card-time &nbsp&nbsp&nbsp#{parseInt(moment.duration(moment(new Date()).diff(posts[i].date)).asMinutes())} minute ago
                                    else if parseInt(moment.duration(moment(new Date()).diff(posts[i].date)).asMinutes()) < 60
                                      h6.featured-card-time &nbsp&nbsp&nbsp#{parseInt(moment.duration(moment(new Date()).diff(posts[i].date)).asMinutes())} minutes ago
                                    else if parseInt(moment.duration(moment(new Date()).diff(posts[i].date)).asMinutes()) > 60 && parseInt(moment.duration(moment(new Date()).diff(posts[i].date)).asMinutes()) < 120
                                      h6.featured-card-time &nbsp&nbsp&nbsp#{parseInt(moment.duration(moment(new Date()).diff(posts[i].date)).asHours())} hour ago
                                    else if parseInt(moment.duration(moment(new Date()).diff(posts[i].date)).asHours()) < 24
                                      h6.featured-card-time &nbsp&nbsp&nbsp#{parseInt(moment.duration(moment(new Date()).diff(posts[i].date)).asHours())} hours ago
                                    else if parseInt(moment.duration(moment(new Date()).diff(posts[i].date)).asDays()) < 2
                                      h6.featured-card-time &nbsp&nbsp&nbsp#{parseInt(moment.duration(moment(new Date()).diff(posts[i].date)).asDays())} day ago
                                    else
                                      h6.featured-card-time &nbsp&nbsp&nbsp#{moment(posts[i].date).format('DD MMM YYYY')}
            .load-more
              a.load-more-button Load More

            h2.about-prompt
              |  Finding a&nbsp
              b SPECIFIC ARTICLE
              | ? Use the search box

          form.searchbox-prompt(action="/search" method="GET")
            input.searchbox-input-prompt(type="search" placeholder="Search" name="search" onkeyup="buttonUp();" required)
            a.searchbox-icon-prompt(href="#")
              i.fa.fa-search.searchbox-search-icon-prompt(aria-hidden="true")

          // Recent Post
          h2.recent-post-heading.text-center Recent.
          if posts
            .display-list
              .container
                each post, i in posts
                  .list-style-column
                    .row
                      .col-xs-4.list-style-image-column
                        a(href="/post/#{moment(posts[i].date).format('DDMMYYYY')}/#{(encodeURIComponent(posts[i].title)).replace(/%20/g, '-')}")
                          .list-style-img-container
                            img.list-style-img(src="/images/uploads/#{post.mainimage}" align="right")
                      .col-xs-8.list-style-content
                        a(href="/post/#{moment(posts[i].date).format('DDMMYYYY')}/#{(encodeURIComponent(posts[i].title)).replace(/%20/g, '-')}")
                          h4.list-style-title #{post.title}
                        if Array.isArray(post.tags)
                          each post_tag, j in post.tags
                            each tag, k in tags
                              if tag.name == post_tag
                                a.list-style-tags(href='/search/#{tag.name}' style="background: #{tag.color}; border-color: #{tag.color}") #{tag.name}
                        else
                          each tag, j in tags
                            if tag.name == post.tags
                              a.list-style-tags(href='/search/#{tag.name}' style="background: #{tag.color}; border-color: #{tag.color}") #{tag.name}
                        .row.list-style-author-row
                          .col-xs-9
                            each author, i in authors
                              if (author.name === post.author)
                                .list-style-author
                                  img.list-style-author-img(src='/images/uploads/#{author.image}')
                                  .wording
                                    h6.list-style-author-name &nbsp&nbsp#{post.author}
                                    if parseInt(moment.duration(moment(new Date()).diff(post.date)).asMinutes()) < 2
                                      h6.list-style-time &nbsp&nbsp&nbsp#{parseInt(moment.duration(moment(new Date()).diff(post.date)).asMinutes())} minute ago
                                    else if parseInt(moment.duration(moment(new Date()).diff(post.date)).asMinutes()) < 60
                                      h6.list-style-time &nbsp&nbsp&nbsp#{parseInt(moment.duration(moment(new Date()).diff(post.date)).asMinutes())} minutes ago
                                    else if parseInt(moment.duration(moment(new Date()).diff(post.date)).asMinutes()) > 60 && parseInt(moment.duration(moment(new Date()).diff(post.date)).asMinutes()) < 120
                                      h6.list-style-time &nbsp&nbsp&nbsp#{parseInt(moment.duration(moment(new Date()).diff(post.date)).asHours())} hour ago
                                    else if parseInt(moment.duration(moment(new Date()).diff(post.date)).asHours()) < 24
                                      h6.list-style-time &nbsp&nbsp&nbsp#{parseInt(moment.duration(moment(new Date()).diff(post.date)).asHours())} hours ago
                                    else if parseInt(moment.duration(moment(new Date()).diff(post.date)).asDays()) < 2
                                      h6.list-style-time &nbsp&nbsp&nbsp#{parseInt(moment.duration(moment(new Date()).diff(post.date)).asDays())} day ago
                                    else
                                      h6.list-style-time &nbsp&nbsp&nbsp#{parseInt(moment.duration(moment(new Date()).diff(post.date)).asDays())} days ago
                          .col-xs-3(style="margin-top: 10px;")
                            .list-style-likes(style="margin-top: 0")
                              i.fa.fa-heart.list-style-likes-icon.text-right
                              h4.list-style-likes-number.text-right &nbsp#{post.likes}
          else
            p There are no posts to display

          .load-more
            a.load-more-button Load More

          .find-articles
            h2.recent-post-heading.text-center Find articles by
            .row.find-articles-headings
              .col-xs-6
                h3.find-articles-tags-button.find-articles-button-active Tags
              .col-xs-6
                h3.find-articles-authors-button Authors

            .row.find-articles-section
              ul.find-articles-tags-section
                each tag, i in tags
                  a.find-articles-tags-container(href='/search/#{tag.name}')
                    li.find-articles-tags(style="background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('/images/uploads/#{tag.image}');")
                      i.fa.find-articles-tags-icon(class="#{tag.icon}")
                      h3.find-articles-tags-title #{tag.name}
              ul.find-articles-authors-section
                each author, i in authors
                  a.find-articles-authors-container(href='/search/#{author.name}')
                    li.find-articles-authors(style="background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('/images/tag1.jpg');")
                      img(src='/images/uploads/#{author.image}').find-articles-authors-icon
                      h3.find-articles-authors-title #{author.name}


    footer
      .row
        .col-md-4
          h4.company-copyright &#169; 2017 Fiintech | All Rights Reserved
        .col-md-4
          a(href="#")
            i.fa.fa-instagram.footer-social(aria-hidden="true")
          a(href="#")
            i.fa.fa-twitter.footer-social(aria-hidden="true")
          a(href="#")
            i.fa.fa-linkedin.footer-social(aria-hidden="true")
        .col-md-4
          a(href="#")
            h4.questions Questions? Contact Us Now
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(async src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
    script(src='/scripts/index-uncompressed.js')
    script(src='/scripts/owl-carousel.min.js')
    script(async type="text/javascript").

      $(".owl-carousel").owlCarousel({
        loop:true,
        margin:0,
        nav:true,
        autoplay:true,
        autoplaySpeed: 2000,
        autoplayTimeout:6000,
        autoplayHoverPause:false,
        responsive: {
          0: {
            items: 1
          }
        }
      });

      $(function() {

        var tags = true;
        $('.find-articles-authors-button').click(function() {
          if(tags) {
            $('.find-articles-authors-section').css('display', 'flex');
            $('.find-articles-tags-section').css('display', 'none');
            $(this).addClass('find-articles-button-active');
            $('.find-articles-tags-button').removeClass('find-articles-button-active');
            tags = false;
          }
        })

        $('.find-articles-tags-button').click(function() {
          if(tags == false) {
            $('.find-articles-tags-section').css('display', 'flex');
            $('.find-articles-authors-section').css('display', 'none');
            $(this).addClass('find-articles-button-active');
            $('.find-articles-authors-button').removeClass('find-articles-button-active');
            tags = true;
          }
        })

        var window_width = $(window).width();
        $('.find-articles-tags-container, .find-articles-authors-container').css('height', window_width / 2);
        $(window).resize(function() {
          var window_width = $(window).width();
          $('.find-articles-tags-container, .find-articles-authors-container').css('height', window_width / 2);
        })





        $('#newsletter').on('submit', function(event) {
          event.preventDefault();

          if($('#newsletter-checkbox').is(':checked') == false) {
            $('.newsletter-error-message').html("&nbspPlease tick the box below");
            $('.newsletter-error').css('display', 'block');
            $('.newsletter .newsletter-modal-dialog').css('height', '322px');
            shakeModal();
          } else if ($('#newsletter-email').val() == "") {
            $('.newsletter-error-message').html("&nbspInvalid email address");
            $('.newsletter-error').css('display', 'block');
            $('.newsletter .newsletter-modal-dialog').css('height', '322px');
            shakeModal();
          } else {
            $.ajax({
              url: '/',
              method: 'POST',
              contentType: 'application/json',
              data: JSON.stringify({email: $('#newsletter-email').val()}),
              success: function(response) {
                $('.error').click();
              }
            })
          }

        })
        $('.error').on('click', function(event) {
          $.ajax({
            url: '/error',
            method: 'GET',
            contentType: 'application/json',
            success: function(response) {
              if(response.success == false) {
                $('.newsletter-error-message').html("&nbsp" + response.messages);
                $('.newsletter-error').css('display', 'block');
                $('.newsletter .newsletter-modal-dialog').css('height', '284px');
                shakeModal();
              } else {
                $('.newsletter-error-message').html("&nbspSuccess!");
                $('.newsletter-error-icon').removeClass('fa-times');
                $('.newsletter-error-icon').addClass('fa-check');
                $('.newsletter-error-icon, .newsletter-error-message').css('color', 'green');
                setTimeout(function() {
                  $('.close-button').click();
                }, 2000);
                localStorage.subscribed = "1";
              }
            }
          })
        })
      })