block content
doctype html
html
  head
    title Results
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto|Quicksand|Merriweather:300i,300')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/results.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
    script(src='/scripts/results.js')

  body
    .container
      #wrapper
        .overlay
        nav.navbar.navbar-default.navbar-transparent.navbar-fixed-top(role='navigation')
            .navbar-header
              button#dropdown.navbar-toggle(type='button', data-toggle='collapse', data-target='#example-navbar-collapse')
                span.sr-only Toggle navigation
                span.icon-bar.icon-bar-top
                span.icon-bar
                span.icon-bar.icon-bar-bottom
              a.page-scroll.navbar-logo(href='/')
                img.navbar-img(src='/images/logo.svg')
            #example-navbar-collapse.collapse.navbar-collapse.navbar-color(style='width : 100%;')
              ul.nav.navbar-nav.navbar-right.main-nav
                li
                  a.page-scroll(href='/') Home
                li
                  a.page-scroll.blog-hyperlink(href='/') Blog
                li
                  a.page-scroll(href='/about') About
                li
                  a.page-scroll(href='/contact') Contact
                li.desktop-mode(style="padding-right: 0")
                  form.searchbox(action="/search" method="GET")
                    input.searchbox-input(type="search" placeholder="Search......" name="search" onkeyup="buttonUp();" required)
                    input.searchbox-submit(type="submit" value="Go")
                    span.searchbox-icon
                      i.fa.fa-search.searchbox-search-icon(aria-hidden="true")
                li.mobile-mode(style="padding-right: 0px;")
                  form.searchbox-mobile(action="/search" method="GET")
                    input.searchbox-input-mobile(type="search" placeholder="Search" name="search" onkeyup="buttonUp();" required)
                    a.searchbox-icon-mobile(href="#")
                      i.fa.fa-search.searchbox-search-icon-mobile(aria-hidden="true")

        - function checkDuplicateOrSimilars(conditionValue, conditionName, similarValue, similarName) {
        -   if (!searchquerystring) {
        -     var results = {name: conditionName, query: conditionValue};
        -      console.log("OPPPSSS");
        -     return results;
        -   }
            // if there isn't a filter
        -   if (searchquerystring.includes(conditionValue) == false) {
              // if there is a similar filter
        -     if (searchquerystring.includes(similarValue)) {
                // create a link that will replace the condition
        -       var newQuery = searchquerystring.replace(similarValue, conditionValue);
        -       var results = {name: conditionName, query: newQuery};
        -       return results;
        -     } else {
                // if there isn't any filter beforehand, make the query as the condition
        -       if (searchquerystring.length < 1) {
        -         var newQuery = conditionValue;
                // else, place a "&" before the condition to add onto the filters
        -       } else {
        -         var newQuery = searchquerystring + "&" + conditionValue;
        -       }
        -       var results = {name: conditionName, query: newQuery};
        -       return results;
        -     }
            // if there is a similar filter instead
        -   } else if (searchquerystring.includes(similarValue)) {
                // replace the similar filter with the condition filter
          -     var newQuery = searchquerystring.replace(similarValue, conditionValue);
          -     var results = {name: conditionName, query: newQuery};
          -     return results;
            // if the query is blank
        -   } else
        -       return "invalid";
        - }

        // Filter - Main
        nav.filter-section.filter-section-main
          .filter-heading
            a.filter-close
            h3.filter-title Filters
          .group-container.filter-section-main-name
            .group
              h3.filter-section-element Name
              a.filter-section-arrow
          .group-container.filter-section-main-tags
            .group
              h3.filter-section-element Tags
              a.filter-section-arrow
          .group-container.filter-section-main-time
            .group
              h3.filter-section-element Time
              a.filter-section-arrow
          .group-container.filter-section-main-likes
            .group
              h3.filter-section-element Likes
              a.filter-section-arrow
          .group-container.filter-section-main-authors
            .group
              h3.filter-section-element Authors
              a.filter-section-arrow

        - function displayOfLinks(results) {
        -  if (results != "invalid") {
            - console.log(results);
            .group-container
              .group
                a.filter-section-element(href="?#{results.query}") #{results.name}
                a.filter-section-arrow
          - }
        - }

        // Filter - Name
        nav.filter-section.filter-section-sub.filter-section-name
          .filter-heading
            a.filter-back
            h3.filter-title Name
          - var results = checkDuplicateOrSimilars("name=a-z", "A-Z", "name=z-a", "Z-A");
          - displayOfLinks(results);
          - var results = checkDuplicateOrSimilars("name=z-a", "Z-A", "name=a-z", "A-Z");
          - displayOfLinks(results);

        // Filter - Time
        nav.filter-section.filter-section-sub.filter-section-time
          .filter-heading
            a.filter-back
            h3.filter-title Time
          - var results = checkDuplicateOrSimilars("time=newest", "Newest", "time=oldest", "Oldest");
          - console.log(results);
          - displayOfLinks(results);
          - var results = checkDuplicateOrSimilars("time=oldest", "Oldest", "time=newest", "Newest");
          - displayOfLinks(results);

        // Filter - Likes
        nav.filter-section.filter-section-sub.filter-section-likes
          .filter-heading
            a.filter-back
            h3.filter-title Likes
          - var results = checkDuplicateOrSimilars("likes=highest", "Highest", "likes=lowest", "Lowest");
          - displayOfLinks(results);
          - var results = checkDuplicateOrSimilars("likes=lowest", "Lowest", "likes=highest", "Highest");
          - displayOfLinks(results);

        - function linksTagsAndAuthors(type, object, queryname) {
        -     var nameinthequery = "";
        -     var newQuery = "";
        -     for(var j = 0; j < object.length; j++) {
        -       var testquery = queryname + "=" + object[j].name.toLowerCase();
        -       if (searchquerystring) {
        -         if (searchquerystring.toLowerCase().includes(testquery)) {
        -           nameinthequery = testquery;
        -           newQuery = searchquerystring.replace(nameinthequery, "").replace("&", "");
        -         }
        -       }
        -       console.log("NEWWUERY:" + newQuery);
        -     }
        -     if (newQuery == "") {
        -       newQuery = searchquerystring;
        -     }
        -     for(var i = 0; i < object.length; i++) {
        -       var testquery = queryname + "=" + object[i].name.toLowerCase();
        -       console.log(searchquerystring);
        -       //console.log(nameinthequery);
        -       console.log(newQuery);
        -       if (!searchquerystring) {
                  .group-container
                    .group
                      a.filter-section-element(href="?#{queryname}=#{object[i].name}") #{object[i].name}
                      a.filter-section-arrow
        -       } else if (searchquerystring.toLowerCase().includes(testquery) == false) {
        -         if (searchquerystring.length < 1) {
        -           console.log("hello");
                    .group-container
                      .group
                        a.filter-section-element(href="?#{queryname}=#{object[i].name.toLowerCase()}") #{object[i].name}
                        a.filter-section-arrow
        -         } else if (searchquerystring == nameinthequery) {
        -           console.log("hello2");
                    .group-container
                      .group
                        a.filter-section-element(href="?#{newQuery}#{queryname}=#{object[i].name.toLowerCase()}") #{object[i].name}
                        a.filter-section-arrow
        -         } else if (searchquerystring.includes(newQuery, 0)) {
        -           console.log("hello3");
                    .group-container
                      .group
                        a.filter-section-element(href="?#{newQuery}&#{queryname}=#{object[i].name.toLowerCase()}") #{object[i].name}
                        a.filter-section-arrow
        -         } else if (searchquerystring.includes(newQuery)) {
        -           console.log("hello4");
                    .group-container
                      .group
                        a.filter-section-element(href="#{newQuery}&#{queryname}=#{object[i].name.toLowerCase()}") #{object[i].name}
                        a.filter-section-arrow
        -         } else {
        -           console.log("hello4");
                    .group-container
                      .group
                        a.filter-section-element(href="?#{newQuery}&#{queryname}=#{object[i].name.toLowerCase()}") #{object[i].name}
                        a.filter-section-arrow
        -         }
        -       }
        -     console.log("____________________________");
        -     }
        -   }

        // Filter - Tags
        nav.filter-section.filter-section-sub.filter-section-tags
          .filter-heading
            a.filter-back
            h3.filter-title Tags
          - linksTagsAndAuthors("tags", tags, "tag");

        // Filter - Authors
        nav.filter-section.filter-section-sub.filter-section-authors
          .filter-heading
            a.filter-back
            h3.filter-title Authors
          - linksTagsAndAuthors("authors", authors, "author");

        .row#page-content-wrapper(style="margin-top: 61px;")
          button.hamburger.is-closed(type="button" data-toggle="offcanvas")
            span.hamb-top
            span.hamb-middle
            span.hamb-bottom
            h4.hamb-text Filters
          .results-section
            h2.recent-post-heading.text-center Results.

          .search-info-container
            .search-info
              form.searchbox-prompt(action="/search" method="GET")
                input.searchbox-input-prompt(type="search" placeholder="Search" name="term" onkeyup="buttonUp();" value="#{search_term}" required)
                a.searchbox-icon-prompt(href="#")
                  i.fa.fa-search.searchbox-search-icon-prompt(aria-hidden="true")
              if search_term
                h3.search-term #{search_term}
              else
                h3.search-term No Search Term
              h3.posts-found #{posts.length} posts found
              h3.filtered-by FILTERED BY:
              if searchquerystring
                - var urlsplit = searchquerystring.split("&");
                - console.log("HHHHHHHH" + urlsplit);
              ul.filter-option-container
                if searchquerystring
                  each query, i in urlsplit
                    - var deleteurl = "";
                    if i == urlsplit.length - 1
                      - console.log("GGGGGG2222234324244243242");
                      - if (searchquerystring.includes("&")) {
                          - console.log("GGGGGG");
                          - deleteurl = searchquerystring.replace("&"+query, "");
                      - } else {
                          - console.log(searchquerystring);
                          - deleteurl = searchquerystring.replace(query, "");
                          - console.log(deleteurl);
                          - console.log("GGGGGG22222");
                      - }
                    else
                      - if (searchquerystring.includes("&")) {
                          - console.log("GGGGGG");
                          - deleteurl = searchquerystring.replace(query+"&", "");
                      - } else {
                          - deleteurl = searchquerystring.replace(query, "");
                          - console.log("GGGGGG22222");
                      - }

                    - String.prototype.replaceAt=function(index, replacement) {
                        - return this.substr(0, index) + replacement+ this.substr(index + replacement.length);
                    - }

                    li.filter-option
                      - query = query.replace('=', ": ");
                      each query_letter, j in query
                        if query_letter == "-" || query_letter == " "
                          - query = query.replaceAt(j+1, query.charAt(j+1).toUpperCase());
                        if j == 0
                          - query = query.replaceAt(j, query.charAt(j).toUpperCase());
                      a.filter-option-name(href="?#{deleteurl}") #{query}
                      a.filter-option-icon(href="?#{deleteurl}")
                else
                  li.filter-option(style="padding: 5px 12px 5px 12px;")
                    a.filter-option-name None
          .row.option-row
            .col-xs-6.option.option-filters
              span.glyphicon.glyphicon-filter.option-glyphicon(aria-hidden="true")
              h3.option-name Filters
            .col-xs-6.option.option-display
              span.glyphicon.glyphicon-th-large.option-glyphicon(aria-hidden="true")
              span.glyphicon.glyphicon-th-list.option-glyphicon.option-glyphicon-disabled(aria-hidden="true")
              h3.option-name.option-name-spread Spread
              h3.option-name.option-name-list.option-glyphicon-disabled List
          .option-display-spread
            if posts
              ul.featured-card-container
                - for (var i = 0; i < posts.length; i++)
                  li.featured-card-item
                    .container
                      .featured-card-img
                        a.featured-card-link(href="/post/#{moment(posts[i].date).format('DDMMYYYY')}/#{(encodeURIComponent(posts[i].title)).replace(/%20/g, '-')}")
                          img(src="/images/uploads/#{posts[i].mainimage}" align="center")
                        .featured-card-likes
                          i.fa.fa-heart.featured-card-likes-icon.text-left
                          h4.featured-card-likes-number.text-left &nbsp#{posts[i].likes}
                      .featured-card-content
                        .row.featured-card-tags-row
                          .featured-card-tags-group
                            if Array.isArray(posts[i].tags)
                              each post_tag, j in posts[i].tags
                                each tag, k in tags
                                  if tag.name == post_tag
                                    a.featured-card-tags(href='/search?tag=#{tag.name}' style="background: #{tag.color}; border-color: #{tag.color}") #{tag.name}
                            else
                              each tag, j in tags
                                if tag.name == posts[i].tags
                                  a.featured-card-tags(href='/search?tag=#{posts[i].tags}' style="background: #{tag.color}; border-color: #{tag.color}") #{tag.name}
                        a.featured-card-link(href="/post/#{moment(posts[i].date).format('DDMMYYYY')}/#{(encodeURIComponent(posts[i].title)).replace(/%20/g, '-')}")
                          h2.text-left.featured-card-title #{posts[i].title}
                        .row
                          each author, j in authors
                            if (author.name === posts[i].author)
                              .featured-card-author
                                img.featured-card-author-img(src='/images/uploads/#{author.image}')
                                .featured-card-wording
                                  a(href="/search?author=#{author.name}")
                                    h6.featured-card-author-name &nbsp&nbsp#{posts[i].author}
                                  if parseInt(moment.duration(moment(new Date()).diff(posts[i].date)).asMinutes()) < 2
                                    h6.featured-card-time &nbsp&nbsp&nbsp#{parseInt(moment.duration(moment(new Date()).diff(posts[i].date)).asMinutes())} minute ago
                                  else if parseInt(moment.duration(moment(new Date()).diff(posts[i].date)).asMinutes()) < 60
                                    h6.featured-card-time &nbsp&nbsp&nbsp#{parseInt(moment.duration(moment(new Date()).diff(posts[i].date)).asMinutes())} minutes ago
                                  else if parseInt(moment.duration(moment(new Date()).diff(posts[i].date)).asMinutes()) > 60 && parseInt(moment.duration(moment(new Date()).diff(posts[i].date)).asMinutes()) < 120
                                    h6.featured-card-time &nbsp&nbsp&nbsp#{parseInt(moment.duration(moment(new Date()).diff(posts[i].date)).asHours())} hour ago
                                  else if parseInt(moment.duration(moment(new Date()).diff(posts[i].date)).asHours()) < 24
                                    h6.featured-card-time &nbsp&nbsp&nbsp#{parseInt(moment.duration(moment(new Date()).diff(posts[i].date)).asHours())} hours ago
                                  else if parseInt(moment.duration(moment(new Date()).diff(posts[i].date)).asDays()) < 2
                                    h6.featured-card-time &nbsp&nbsp&nbsp#{parseInt(moment.duration(moment(new Date()).diff(posts[i].date)).asDays())} day ago
                                  else
                                    h6.featured-card-time &nbsp&nbsp&nbsp#{moment(posts[i].date).format('DD MMM YYYY')}
            else
              p There are no posts to display
          .option-display-list.option-glyphicon-disabled
            if posts
              .display-list
                .container
                  each post, i in posts
                    .list-style-column
                      .row
                        .col-xs-4.list-style-image-column
                          a(href="/post/#{moment(posts[i].date).format('DDMMYYYY')}/#{(encodeURIComponent(posts[i].title)).replace(/%20/g, '-')}")
                            .list-style-img-container
                              img.list-style-img(src="/images/uploads/#{post.mainimage}" align="right")
                        .col-xs-8.list-style-content
                          a(href="/post/#{moment(posts[i].date).format('DDMMYYYY')}/#{(encodeURIComponent(posts[i].title)).replace(/%20/g, '-')}")
                            h4.list-style-title #{post.title}
                          if Array.isArray(post.tags)
                            each post_tag, j in post.tags
                              each tag, k in tags
                                if tag.name == post_tag
                                  a.list-style-tags(href='/search?tag=#{tag.name}' style="background: #{tag.color}; border-color: #{tag.color}") #{tag.name}
                          else
                            each tag, j in tags
                              if tag.name == post.tags
                                a.list-style-tags(href='/search?tag=#{tag.name}' style="background: #{tag.color}; border-color: #{tag.color}") #{tag.name}
                          .row.list-style-author-row
                            .col-xs-9
                              each author, i in authors
                                if (author.name === post.author)
                                  .list-style-author
                                    img.list-style-author-img(src='/images/uploads/#{author.image}')
                                    .wording
                                      a(href="/search?author=#{author.name}")
                                        h6.list-style-author-name &nbsp&nbsp#{post.author}
                                      if parseInt(moment.duration(moment(new Date()).diff(post.date)).asMinutes()) < 2
                                        h6.list-style-time &nbsp&nbsp&nbsp#{parseInt(moment.duration(moment(new Date()).diff(post.date)).asMinutes())} minute ago
                                      else if parseInt(moment.duration(moment(new Date()).diff(post.date)).asMinutes()) < 60
                                        h6.list-style-time &nbsp&nbsp&nbsp#{parseInt(moment.duration(moment(new Date()).diff(post.date)).asMinutes())} minutes ago
                                      else if parseInt(moment.duration(moment(new Date()).diff(post.date)).asMinutes()) > 60 && parseInt(moment.duration(moment(new Date()).diff(post.date)).asMinutes()) < 120
                                        h6.list-style-time &nbsp&nbsp&nbsp#{parseInt(moment.duration(moment(new Date()).diff(post.date)).asHours())} hour ago
                                      else if parseInt(moment.duration(moment(new Date()).diff(post.date)).asHours()) < 24
                                        h6.list-style-time &nbsp&nbsp&nbsp#{parseInt(moment.duration(moment(new Date()).diff(post.date)).asHours())} hours ago
                                      else if parseInt(moment.duration(moment(new Date()).diff(post.date)).asDays()) < 2
                                        h6.list-style-time &nbsp&nbsp&nbsp#{parseInt(moment.duration(moment(new Date()).diff(post.date)).asDays())} day ago
                                      else
                                        h6.list-style-time &nbsp&nbsp&nbsp#{parseInt(moment.duration(moment(new Date()).diff(post.date)).asDays())} days ago
                            .col-xs-3(style="margin-top: 10px;")
                              .list-style-likes(style="margin-top: 0")
                                i.fa.fa-heart.list-style-likes-icon.text-right
                                h4.list-style-likes-number.text-right &nbsp#{post.likes}
            else
              p There are no posts to display

      footer
        .row
          .col-md-4
            h4.company-copyright &#169; 2017 Fiintech | All Rights Reserved
          .col-md-4
            a(href="#")
              i.fa.fa-instagram.footer-social(aria-hidden="true")
            a(href="#")
              i.fa.fa-twitter.footer-social(aria-hidden="true")
            a(href="#")
              i.fa.fa-linkedin.footer-social(aria-hidden="true")
          .col-md-4
            a(href="#")
              h4.questions Questions? Contact Us Now


