block content
doctype html
html
  head
    title=post.title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Muli|Quicksand')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/show.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
    script(src="//platform-api.sharethis.com/js/sharethis.js#property=59e6145173b5970012438bb7&product=sticky-share-buttons")
    script(src='/scripts/show.js')

  body(data-spy='scroll')
    .container
      a.page-scroll.back-to-top(href='.whitespace')
      .whitespace
      .header(style="background-image: linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)), url('/images/uploads/#{post.mainimage}');")
        .row.navbar-row
          .social-icons
            a(href="#")
              i.fa.fa-facebook.social-button
            a(href="#")
              i.fa.fa-google-plus.social-button
            a(href="#")
              i.fa.fa-twitter.social-button
            a(href="#")
              i.fa.fa-get-pocket.social-button
            a(href="#")
              i.fa.fa-linkedin.social-button
          nav.navbar.navbar-default.navbar-transparent.navbar-fixed-top(role='navigation')
            .navbar-header
              button#dropdown.navbar-toggle(type='button', data-toggle='collapse', data-target='#example-navbar-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.page-scroll.navbar-logo(href='/')
                img.navbar-img(src='/images/logo.svg')
            #example-navbar-collapse.collapse.navbar-collapse.navbar-color(style='width : 100%;')
              ul.nav.navbar-nav.navbar-right.main-nav
                li
                  a.page-scroll(href='/') Home
                li
                  a.page-scroll.blog-hyperlink(href='.post') Blog
                li
                  a.page-scroll(href='.testimonials') About
                li
                  a.page-scroll.blog-hyperlink(href='.blog') Gallery
                li
                  a.page-scroll(href='.form') Contact
                li.desktop-mode(style="padding-right: 0")
                  form.searchbox
                    input.searchbox-input(type="search" placeholder="Search......" name="search" onkeyup="buttonUp();" required)
                    input.searchbox-submit(type="submit" value="Go")
                    span.searchbox-icon
                      i.fa.fa-search(aria-hidden="true")
                li.mobile-mode(style="padding-right: 0")
                  .custom-search-input
                    form.input-group
                      input.search-query.form-control(type='search' placeholder='Search')
                      input.searchbox-mobile-submit(type="submit" value="Go")
                      span.input-group-btn
                        span.glyphicon.glyphicon-search
        .article-mask
        .article-caption=post.title
        .button-awesome
          a.page-scroll.btn.btn-half(href='.post') Read Article
      .post
        .container
          .article-content
            h1(style="font-size: 43px;")=post.title
            br
            br
            .row
              .col-md-6(style="padding-top: 16px")
                p.tags-title Tags: &nbsp
                if Array.isArray(post.category)
                  each tag, i in post.category
                    each category, j in tags
                      if category.title == tag
                        a.tags(href='.post' style="background: #{category.color}; border-color: #{category.color}") #{tag}
                else
                  each category, i in tags
                    if category.title == post.category
                      a.tags(href='.post' style="background: #{category.color}; border-color: #{category.color}") #{post.category}

              .col-md-6
                if parseInt(moment.duration(moment(new Date()).diff(post.date)).asMinutes()) < 2
                  p.time Posted #{parseInt(moment.duration(moment(new Date()).diff(post.date)).asMinutes())} minute ago
                else if parseInt(moment.duration(moment(new Date()).diff(post.date)).asMinutes()) < 60
                  p.time Posted #{parseInt(moment.duration(moment(new Date()).diff(post.date)).asMinutes())} minutes ago
                else if parseInt(moment.duration(moment(new Date()).diff(post.date)).asMinutes()) > 60 && parseInt(moment.duration(moment(new Date()).diff(post.date)).asMinutes()) < 120
                  p.time Posted #{parseInt(moment.duration(moment(new Date()).diff(post.date)).asHours())} hour ago
                else if parseInt(moment.duration(moment(new Date()).diff(post.date)).asHours()) < 24
                  p.time Posted #{parseInt(moment.duration(moment(new Date()).diff(post.date)).asHours())} hours ago
                else if parseInt(moment.duration(moment(new Date()).diff(post.date)).asDays()) < 2
                  p.time Posted #{parseInt(moment.duration(moment(new Date()).diff(post.date)).asDays())} day ago
                else
                  p.time Posted #{parseInt(moment.duration(moment(new Date()).diff(post.date)).asDays())} days ago
            br
            br
            !=post.body
            br
            .row.likes-row
              a(href="/add-likes/#{post._id}" onclick="liked();")
                i.fa.fa-heart
                h3.likes-number &nbsp#{post.likes}
            hr
            each author, i in authors
              .row
                .col-md-2(style="text-align: center")
                  a(href="#")
                    if (author.title === post.author)
                      img.profile-pic(src="/images/uploads/#{author.image}")
                  br
                  br
                  a(href="#")
                    i.fa.fa-instagram.author-social(aria-hidden="true")
                  a(href="#")
                    i.fa.fa-twitter.author-social(aria-hidden="true")
                  a(href="#")
                    i.fa.fa-linkedin.author-social(aria-hidden="true")
                br
                .col-md-7
                  p.author-name #{post.author}
                  if (author.title === post.author)
                    p #{author.body}
                .col-md-3.read-more-column
                  if (author.title === post.author)
                    a.read-more-button(href="/search/author/#{author.title}") Read More
      br
      br
      br
      h2.others-headline Other Interesting Stories
      br
      br
      .row.other-row
        each other, i in otherpost
          .col-md-4
            .others
              .container
                .other-img
                  img(src="/images/uploads/#{other.mainimage}" align="center")
                .other-content
                  h4.other-title #{other.title}
                  .row
                    .col-xs-9.small-mode.small-mode9(style= "padding-top: 5px;")
                      if Array.isArray(other.category)
                        each tag, i in other.category
                          each category, j in tags
                            if category.title == tag
                              a.tags(href='.post' style="background: #{category.color}; border-color: #{category.color}; padding: 7px 8px;") #{tag}
                      else
                        each category, i in tags
                          if category.title == other.category
                            a.tags(href='.post' style="background: #{category.color}; border-color: #{category.color}; padding: 7px 8px;") #{other.category}
                    .col-xs-3.small-mode.small-mode3
                      .other-likes
                        i.fa.fa-heart.other-likes-icon.text-right
                        h4.other-likes-number.text-right &nbsp#{other.likes}
                  .other-text
                    p #{other.description}
                  .other-read-more
                    a.other-read-more-button(href="/posts/show/#{other._id}") Read More
                  hr.seperator-line(align="center")
                  .row
                    .col-xs-7.small-mode.small-mode7
                      .spread-author
                        each author, i in authors
                          if (author.title === other.author)
                            a(href="/search/author/#{author.title}")
                              img.spread-author-img(src='/images/uploads/#{author.image}')
                              h4.spread-author-text.text-left &nbsp&nbsp#{other.author}
                    .col-xs-5.small-mode.small-mode5
                      .other-time
                        if parseInt(moment.duration(moment(new Date()).diff(other.date)).asMinutes()) < 2
                          p.time-text #{parseInt(moment.duration(moment(new Date()).diff(other.date)).asMinutes())} minute ago
                        else if parseInt(moment.duration(moment(new Date()).diff(other.date)).asMinutes()) < 60
                          p.time-text #{parseInt(moment.duration(moment(new Date()).diff(other.date)).asMinutes())} minutes ago
                        else if parseInt(moment.duration(moment(new Date()).diff(other.date)).asMinutes()) > 60 && parseInt(moment.duration(moment(new Date()).diff(other.date)).asMinutes()) < 120
                          p.time-text #{parseInt(moment.duration(moment(new Date()).diff(other.date)).asHours())} hour ago
                        else if parseInt(moment.duration(moment(new Date()).diff(other.date)).asHours()) < 24
                          p.time-text #{parseInt(moment.duration(moment(new Date()).diff(other.date)).asHours())} hours ago
                        else if parseInt(moment.duration(moment(new Date()).diff(other.date)).asDays()) < 2
                          p.time-text #{parseInt(moment.duration(moment(new Date()).diff(other.date)).asDays())} day ago
                        else
                          p.time-text #{parseInt(moment.duration(moment(new Date()).diff(other.date)).asDays())} days ago
                br
                br
            br
            br
            br

    footer
      .row
        .col-md-4
          h4.company-copyright &#169; 2017 Fiintech | All Rights Reserved
        .col-md-4
          a(href="#")
            i.fa.fa-instagram.footer-social(aria-hidden="true")
          a(href="#")
            i.fa.fa-twitter.footer-social(aria-hidden="true")
          a(href="#")
            i.fa.fa-linkedin.footer-social(aria-hidden="true")
        .col-md-4
          a(href="#")
            h4.questions Questions? Contact Us Now


